@import url(https://fonts.googleapis.com/css?family=Roboto);

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//Item variables
$item-border: 1px solid LightGrey;
$nested-item-indentation: 30px;
