$comment-border: 1px solid LightGrey;

.list-item {
  border: {
    top: $comment-border !important;
  }
  div {
    padding: 0px !important;
    overflow: hidden !important;
  }
  .item-text {
    margin: {
      left: 30px !important;
      top: 15px !important;
    }
  }
}

