.list-item {
  border: {
    top: $item-border !important;
  }
  padding: 0px !important;
  overflow: hidden !important;
  .item-text {
    margin: {
      left: 30px !important;
      top: 15px !important;
    }
  }
}

